

    
    <div class="hero">
    </div>
    <!-- THREE COLUMN LAYOUT -->
    <div class="wrapper">
      <div class="row">
        <div class="col sp-3" id="green">
          <img src="../../../assets/images/dietitian.jpg" alt="no image">
          <h3>Dietitian</h3>
          <p>Dietitians and nutritionists counsel clients on nutrition issues and healthy eating habits. Dietitians and nutritionists are experts in the use of food and nutrition to promote health and manage disease. They plan and conduct food service or nutritional programs to help people lead healthy lives.</p>
          
          <!-- <button class="a" ><a href="Single1">Add dietitian or Book Dietitian</a></button> -->

        </div>


        <div class="col sp-3" id="blue">
          <img src="../../../assets/images/diet1.jpg" alt="no image">
          <h3>Vitamins and Minerals</h3>
          <p>Food & Vegetables provide key nutrients that keep us healthy. Similarly, vegetables such as dark green leafy veggies should be included in your meal. Adding a variety of veggies like broccoli, spinach, beans, lettuce, etc to your meal will help you in getting the bountiful nutrients required for the body.</p>
          
        </div>


        <div class="col sp-3" id="red">
          <img src="../../../assets/images/diet2.jpg" alt="no image">
          <h3>Carbohydrates</h3>
          <p>This nutrient is equally necessary as associated with energy giving and sustainability.  The voluntary and involuntary functions of the body are well-regulated with the efficient supply of energy in the form of glucose.Consume complex carbohydrates which include whole grains such as brown rice, wheat, ragi, jowar, bajra, oatmeal, quinoa, and potatoes among others. Hence, carbs should not be avoided and it should be a part of your daily diet.</p>
          
        </div>
      </div>
      
      
      <!-- FOUR COLUMN LAYOUT -->

      <div class="row wrap">
        <div class="col sp-4">
          <img src="../../../assets/images/diet3.avif" alt="no image">
          <h3>Proteins</h3>
          <p>This nutrient is associated with bodybuilding, growth, and development. This is required to help your body repair cells and make new ones.about 20% of your daily diet should consist of protein found in pulses like whole grams, dals, chickpeas, peas, lentils, beans, peanuts, milk, eggs, fish, and meat.</p>
          
        </div>

        <div class="col sp-4">
          <img src="../../../assets/images/diet4.jpg" alt="no image">
          <h3>Fats</h3>
          <p>
            Fats play an important role in providing energy, circulation of vitamins and hormone synthesis. Include more of fats which are high in unsaturated fatty acids like MUFA and PUFA that provides essential fatty acids as in sunflower oil, fish oil, nuts and seeds.
          </p>
        </div>

        <div class="col sp-4">
          <img src="../../../assets/images/women.jpg" alt="no image">
          <h3>Womens Chart</h3>
          <p> A woman’s nutritional requirements differ from men. For example, a woman requires more iron than man due to her monthly menstrual cycles.Here is a healthy diet chart planned by Possible Nutritionist, This chart contains 5 meals that will also help in maintaining a weight loss diet plan for women. 
          </p>  
        </div>
        
        <div class="col sp-4">
          <img src="../../../assets/images/Men-Diet-Chart.jpg" alt="no image">
          <h3>Mens Chart</h3>
          <p>
            Men should have a proper healthy diet that will help build up their stamina and keep them active throughout the day.there a weight loss diet plan for men recommended by Possible Nutritionist,that will give balanced nutrition. 
          </p>           
        </div>
      </div>
      
    
