

 
<footer class="footer-distributed">

    <div class="footer-left">
  
      <h3>Health & Fitness<span><img style="height: 20vh;" src="../../assets/Images/logp.png" alt=""></span></h3>
  
      <p class="footer-links">
        <a routerLink="/" routerLinkActive="active" class="link-1">Home</a>
  
        <a routerLink="About" routerLinkActive="active">About</a>

        <a routerLink="Services" routerLinkActive="active">Services</a>

        <a routerLink="Diet" routerLinkActive="active">Diet</a>
  
        <a routerLink="Signin" routerLinkActive="active">Signin</a>
  
        <!-- <a routerLink="Signup" routerLinkActive="active">Signup</a> -->
  
        <a routerLink="Contact" routerLinkActive="active">Contact</a>
  
      </p>
  
      <p class="footer-company-name"> Team Health & Fitness  © 2023</p>
    </div>
  
    <div class="footer-center">
  
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>444 S. Cedros Ave</span> Tiruvalla, India</p>
      </div>
  
      <div>
        <i class="fa fa-phone"></i>
        <p>098764321100</p>
      </div>
  
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="">Health&Fitness@team.com</a></p>
      </div>
  
    </div>
  
    <div class="footer-right">
  
      <p style="color: white;" class="footer-company-about">
        <span>About the Gym</span>
        The goal of a health and fitness is to provide a safe and comfortable environment for individuals of all ages and fitness levels to improve their overall health and fitness.
      </p>
  
  
    </div>
  
  </footer>
   



