

      <nav class="navbar navbar-expand-lg bg-primary-subtle">
        <img src="../../../assets/images/logo2.jpg" alt="My Logo" width="110" height="80" style="float:left;">
        <div class="container-fluid">
          <a class="navbar-brand" href="">Health & Fitness</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav"> 
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="Home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="About">About</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" routerLink="Services">Services</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="Diet">Diet</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" routerLink="Signin">Signin</a>
              </li> 
      
              <li class="nav-item">
                <a class="nav-link" routerLink="Contact">Contact</a>
              </li>
              <!-- <button style="background:orangered;height: 30px;margin-top: 20px;border-radius:10px;margin-left: 400px;" (click)="Signup()">Logout</button> -->
              <button (click)="Signup()">Logout</button>
            </ul>
          </div>
        </div>
      </nav>
      
    