 
<div id="carouselExampleAutoplaying " class="carousel slide" data-bs-ride="carousel" interval:10000 >
  <div class="carousel-inner" >
    <div class="carousel-item active">
      <img src="../../../assets/images/carousel1.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>"Work Harder,Get stronger"</h5>
      </div>
    </div>
    <div class="carousel-item " interval:1000>
      <img src="../../../assets/images/carousel2.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>"The greatest wealth is health."</h5>
      </div>
    </div>
    <div class="carousel-item " interval:1000>
      <img src="../../../assets/images/carousel3.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>"Take care of your body. It's the only place you have to live." </h5>
      </div>
    </div>
    </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> 
   


  <!-- THREE COLUMN LAYOUT -->
  <div class="wrapper">
    <div class="row">
      <div class="col sp-3" id="green">
        <img src="../../../assets/images/homepage2.jpg" alt="Golden Gate Bridge">
        <h3 class="green-clr">The body achieves what the mind believes</h3>
        <p>Health and fitness, also known as wellness, refers to a state of physical, mental, and emotional well-being. It involves adopting healthy habits and making positive lifestyle choices to achieve optimal health.</p>
        <!-- <button class="btn" id="green-btn">Button Green</button> -->
        </div>


      <div class="col sp-3" id="blue">
        <img src="../../../assets/images/homepage3.webp" alt="Plate of Sushi">
        <h3 class="blue-clr">Don't let yesterday take up too much of today</h3>
        <p>Fitness is a measure of an individual's physical ability to perform daily tasks and activities without getting tired or injured. It is often measured by endurance, strength, flexibility, and body composition!</p>
        </div>


      <div class="col sp-3" id="red">
        <img src="../../../assets/images/front3.avif" alt="Tree in sunshine">
        <h3 class="red-clr">Fitness is not a destination, it's a journey</h3>
        <p>Achieving optimal health and fitness isn't just about looking good, it's about feeling your best, both physically and mentally. Regular exercise, balanced nutrition, and proper self-care can improve your energy levels, boost your mood, reduce stress, and enhance your overall quality of life.</p>
      </div>
      </div>
    </div>
  
  