

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  p {
    color: #555;
    font-family: verdana;
  }
  
  img {
    width: 100%;
    object-fit: cover;
  }
  
  
  /****************** COLUMN LAYOUT ************************/
  .row {
    width: 100%;
    
    display: flex;
    justify-content: center;
  }
  
  .col {
    margin: 30px 15px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #F2F2F2;
    display: inline-block;
  }
  
  .col p {
    background-color: #F2F2F2;
    padding: 10px;
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
  }
  
  h3 {
    color: #666666;
    margin-top: 10px;
    text-align: center;
  }
  
  .sp-1 {
    margin-top: 30px;
    width: 86%;
  }
  
  .sp-1 img {
    max-height: 500px;
  }
  
  .sp-1 p {
    text-align: left;
  }
  
  .sp-2 {
    text-align: center;
    width: 40%;
    
  }
  /* two images */
  .sp-2 img,.sp-3 img {
    max-height: 250px;
  }
  
  .sp-3 {
    width: 26%;
   }
  .sp-3 img {
    height: 180px;
  }
  
  .sp-4 {
    background-color: #F2F2F2;
    width: 20%;
  }
  
  .sp-4 img {
    height: 250px;
  }
  
  
  
  @media only screen and (max-width: 1100px) {
    .wrap {
      flex-wrap: wrap;
    }
  }
  
  
  @media only screen and (min-width: 771px) {
    .sp-4 {
      width: 35%;
    }
  }
  
  @media only screen and (max-width: 530px) {
    .wrap {
      display: block;
    }
  
    .sp-4 {
      width: 70%;
    }
  
  }
  
  /*  */
  /*  */
  
  