



<br> <br>
<h1>HEALTH & FITNESS TRAINERS</h1>
<br><br>
 <main id="main">
  
  <div class="card">
    <span class="badge"></span>
    <img src="../../../assets/images/trainer1.jpg" alt="" />
      <div class="text">
          <h2>Sanjay John</h2>
          <p>Personal trainer, Group fitness instructors, Sports coach </p>
          <button class="a" ><a href="Booking">Book Trainer</a></button>
      </div>
  </div>
<div class="card">
    <span class="badge"></span>
    <img src="../../../assets/images/trainer3.webp" alt="" />
      <div class="text">
          <h2>John luther</h2>
          <p>Health coach, Physical therapists, Online trainer</p>
          <button class="a" ><a href="Booking">Book Trainer</a></button>
      </div>
  </div>
<div class="card">
    <span class="badge"></span>
    <img src="../../../assets/images/trainer2.jpg" alt="" />
      <div class="text">
          <h2>michael</h2>
          <p> Group fitness instructors, Health coaches, Nutrition coaches </p>
          <button class="a" ><a href="Booking">Book Trainer</a></button>
      </div>
  </div>
<div class="card">
    <span class="badge"></span>
    <img src="../../../assets/images/trainer4.jpg" alt="" />
      <div class="text">
          <h2>Robert carlos</h2>
          <p> Group fitness instructors, Physical therapists, Strength and conditioning coaches</p>
          <button class="a" ><a href="Booking">Book Trainer</a></button>
      </div>
  </div>
<div class="card">
    <span class="badge"></span>
    <img src="../../../assets/images/trainer5.jpg" alt="" />
      <div class="text">
          <h2>Leo joseph</h2>
          <p> Physical therapist, Strength and conditioning coaches, Personal trainers</p>
          <!-- <button class="glow-on-hover" type="button" ><a href="Single1">Book Trainer</a></button> -->
          <button class="a" ><a href="Booking">Book Trainer</a></button>
      </div>
  </div>
<div class="card">
    <span class="badge"></span>
    <img src="../../../assets/images/trainer6.jpg" />
      <div class="text">
          <h2>Jenifer</h2>
          <p> Nutrition coach, Personal trainer, Health coach </p>
          <button class="a" ><a href="Booking">Book Trainer</a></button>
      </div>
  </div>
  <br> <br>
  <br><br>


 </main>